html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body,p{
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: black;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: 1.6rem;
  font-weight: 400;
}


.wrapper {
  max-width: 40rem;
  margin: 2rem auto;
}

.slider {
  background: radial-gradient(50% 50% at 50% 50%, black 0%, #BB945F 100%);
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  padding: 2rem 4rem;
}

.slider_inner {
  overflow: hidden;
  border: none;
}

.slider_items {
  display: flex;
  width: 400%;
  line-height: 0;
  transition: all 0.3s ease-in;
}

.slider_item {
  width: 100%;
}

.slider_img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.slider_bottom-inner {
  display: flex;
  margin-top: 2rem;
}
.slider_text {
  flex-basis: 1;
}

.slider_text-title {
  color: darkgreen;
  font-weight: 400;
}

.slider_controls {
  flex-basis: 1;
  display: flex;
  margin-left: auto;
}


.slider_label {
  cursor: pointer;
  padding: 0.5rem;
}
.radio {
  cursor: pointer;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  border: 0.02rem solid #ffffff;
  transition:  all 0.3s ease-in;
}

.radio:hover {
  background-color:  whitesmoke;
  border: 0.02rem solid darkgreen;
}

.radio:active {
  background-color:darkgreen;
  border: 0.05rem solid darkgreen;
}

.slider_text-inner {
  background-color: azure;
  overflow: hidden;
  border: 0.02rem solid #ffffff;
  padding: 0.5rem 0 0.5rem 1rem;
}

.slider_text-items {
  display: flex;
  width: 400%;
  line-height: 150%;
  transition: all 0.3s ease-in;
}

.slider_text-box {
  width: 100%;
}


.slider_bottom-inner {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.slider_input {
  width: 0.001rem;
  height: 0.001rem;
  overflow: hidden;
  clip: rect(0 0 0 0);
  display: none;
}

#slide1:checked ~ .slider_inner .slider_items {
  margin-left: 0;
}
#slide2:checked ~ .slider_inner .slider_items {
  margin-left: -100%;
}

#slide3:checked ~ .slider_inner .slider_items {
  margin-left: -200%;
}
#slide4:checked ~ .slider_inner .slider_items {
  margin-left: -300%;
}

#slide1:checked ~ .slider_bottom-inner .slider_label .radio1 {
  background: lightblue;
  border: 0.5rem solid blue;
}
#slide2:checked ~ .slider_bottom-inner .slider_label .radio2 {
  background: lightblue;
  border: 0.5rem solid blue;
}
#slide3:checked ~ .slider_bottom-inner .slider_label .radio3 {
  background: lightblue;
  border: 0.5rem solid blue;
}
#slide4:checked ~ .slider_bottom-inner .slider_label .radio4 {
  background: lightblue;
  border: 0.5rem solid blue;
}

#slide1:checked ~ .slider_bottom-inner .slider_text-items {
  margin-left: 0;
}
#slide2:checked ~ .slider_bottom-inner .slider_text-items {
  margin-left: -100%;
}
#slide3:checked ~ .slider_bottom-inner .slider_text-items {
  margin-left: -200%;
}
#slide4:checked ~ .slider_bottom-inner .slider_text-items {
  margin-left: -300%;
}

@media (max-width: 590px) {

  .radio {
    width: 1rem;
    height: 1rem;
  }

  .slider_bottom-inner {
    flex-direction: column;
  }
  .slider_text-inner {
    font-size: 1rem;
    width: 100%;
  }
  .slider_controls {
    margin-left: 0;
  }
}